#id{
    width: 500px;
    height: 750px;
    border: 2px dashed red;
    margin: auto;
    margin-top: 36px;
}
#id input{
    width: 300px;
    height: 32px;
    border: 2px solid red;
}
#id div{
    margin: auto;
    width: 480px;
    height: 50px;
    margin-top: 12px;
    margin-bottom: 5px;
    padding-top: auto;
}
.div1{
    width: 400px;
    height: 50px;
    float: left;
}
.div2{
    width: 78px;
    height: 50px;
    float: left;
}