#page button{
    font-size: 24px;
}

#id{
    margin-left: 450px;
}
h1{
    margin-left: 540px;
    margin-bottom: 5px;
    font-size: 28px;
    font-family: 华文新魏;
}
#checkbox{
    width: 10px;
}
span{
    font-size: 24px;
    color: #007DDB;
}
