#operatorDiv{
    margin-left: 50px;
    width: 800px;
}
#operatorDiv div{
    margin-bottom: 12px;
}
#operatorDiv input{
    width: 400px;
    height: 36px;
    font-size: 24px;
    color: blue;
}
#operatorDiv span{
    font-size: 24px;
    width: 300px;
    font-font: 华文新魏;
}
h1{
    font-size: 42px;
    font-family: 华文新魏;
    color: #7AB6B6;
}