*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
#container {
    width: 720px;
    height: 400px;
    overflow: hidden;
    float: left;
}
.sections,.section {
    height:100%;
}
#container,.sections {
    position: relative;
}
.section {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: white;
}
#section0 {
    background-image: url('/static/images/1.jpg');
}
#section1 {
    background-image: url('/static/images/2.jpg');
}
#section2 {
    background-image: url('/static/images/3.jpg');
}
#section3 {
    background-image: url('/static/images/4.jpg');
}
#section4 {
    background-image: url('/static/images/5.jpg');
}
#section5 {
    background-image: url('/static/images/6.jpg');
}
#section6 {
    background-image: url('/static/images/7.jpg');
}